{erl_opts, [
                debug_info,
                {i, "include"},
                {src_dirs, ["src"]}
           ]
}.

{deps, [
            {ranch, "", {git, "git://github.com/extend/ranch.git", {branch, "master"}},
            [raw]}
        ]
}.

%% == Cover ==

%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to print coverage report to console. Default is `false'
{cover_print_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

%% == EUnit ==

%% Options for eunit:test()
{eunit_opts, []}.

%% Additional compile options for eunit. erl_opts is also used
{eunit_compile_opts, []}.

%% Same as erl_first_files, but used only when running 'eunit'
{eunit_first_files, []}.

%% == Common Test ==

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "test"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "test/logs"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-boot start_sasl -s myapp"}.

%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.